@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    background-color: #F5F2EB; /* bg-background */
    color: #1E1B15;            /* text-neutral-dark */
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

@layer utilities {
  .dropdown-solido {
    background-color: #F5F2EB !important;
  }
  .header-solido {
    background-color: #DFD9C0 !important;
  }
}
